In [61]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [62]:
specimen_2022 = pd.read_csv('Tuberculosis files/TB_Portals_Specimen_January_2022.csv')
specimen_2023 = pd.read_csv('Tuberculosis files/TB_Portals_Specimen_January_2023.csv')
regimens_2022 = pd.read_csv('Tuberculosis files/TB_Portals_Regimens_January_2022.csv')
regimens_2023 = pd.read_csv('Tuberculosis files/TB_Portals_Regimens_January_2023.csv')
patients_2022 = pd.read_csv('Tuberculosis files/TB_Portals_Patient_Cases_January_2022.csv')
patients_2023 = pd.read_csv('Tuberculosis files/TB_Portals_Patient_Cases_January_2023.csv')
patients_nig = pd.read_csv('Tuberculosis files/TB_Data_Nigeria.csv')

In [63]:
print('Nigeria TB data:\n')
print(patients_nig.head())

Nigeria TB data:

   patient_id  registration_date age_of_onset  gender  country employment  \
0  2910220001               2022           83  Female  Nigeria    Retired
1  2910220002               2022           35    Male  Nigeria   Employed
2  2910220003               2022           37  Female  Nigeria   Employed
3  2910220004               2022           35    Male  Nigeria   Employed
4  2910220005               2022           31    Male  Nigeria   Employed

   number_of_daily_contacts case_definition lung_localization  regimen_count  \
0                         0             New         Pulmonary              1
1                         1             New         Pulmonary              1
2                         1             New         Pulmonary              1
3                         1             New         Pulmonary              1
4                         0             New         Pulmonary              1

             outcome           treatment_status  \
0          Completed            Treatment ended
1  Lost to follow up  Patient stopped treatment
2              Cured            Treatment ended
3              Cured            Treatment ended
4          Completed            Treatment ended

                                        regimen_drug comorbidity specimen  \
0    Ethambutol, Isoniazid, Pyrazinamide, Rifampicin        None   Sputum
1  Ethambutol, Isoniazid, Levofloxacin, Pyrazinam...        None   Sputum
2    Ethambutol, Isoniazid, Pyrazinamide, Rifampicin        None   Sputum
3    Ethambutol, Isoniazid, Pyrazinamide, Rifampicin         HIV   Sputum
4    Ethambutol, Isoniazid, Pyrazinamide, Rifampicin        None   Sputum

          ncbi_sourceorganism x_ray_exists diagnosis_code genexpert_test  \
0  Mycobacterium tuberculosis          Yes          A15.0              S
1  Mycobacterium tuberculosis          Yes          A15.0              R
2  Mycobacterium tuberculosis           No          A15.0              R
3  Mycobacterium tuberculosis           No          A15.0              R
4  Mycobacterium tuberculosis           No          A15.0              S

  type_of_resistance
0          Sensitive
1            Mono DR
2          Sensitive
3          Sensitive
4          Sensitive

In [64]:
print('SPECIMEN 2022:\n')
print(specimen_2022.head())

SPECIMEN 2022:

                             patient_id                          condition_id  \
0  5cf5df77-2866-44b9-86e4-312ba917ba34  1103c880-f734-4af0-a38a-f0fb3f29b52e
1  3fba0304-be56-4c58-885c-5e2d65f74cd9  ae91abbb-ab04-4798-b3e7-bee2ab6754e8
2  c2adc7fe-f1f2-4a73-a6a5-c4eb1795edc7  1889ac2c-ceb6-4af0-9a46-3c21778ce166
3  4d17e120-5379-4d43-9c98-572d8e963f86  1d8737a1-7196-49eb-b5c8-93aedf916da8
4  5cbb4a40-1d68-470e-81d5-affdd5535f83  6cdf2e97-a087-4735-8bb7-81f357f01e43

                            specimen_id  specimen_identifier  \
0  cd8bc19f-ba31-4436-9ddf-10a9efe1bf91                 6055
1  9749d867-ab65-4962-b082-3819c53c0cf3                17097
2  ac5340a4-7d4b-456a-9fdc-74de7ecbf637                21837
3  a402a08b-88e3-4f47-bd9c-870aa296d768                 6541
4  19ae545c-fb0f-456a-9e6c-a168ab632fed                 8193

  specimen_collection_site  specimen_collection_date
0                   sputum                         2
1                   sputum                         0
2                   sputum                         0
3                   sputum                         0
4                   sputum                         0

In [65]:
print('SPECIMEN 2023:\n')
print(specimen_2023.head())

SPECIMEN 2023:

                             patient_id                          condition_id  \
0  00069df2-2406-43b6-8c58-5f5e164c7e35  5016ee38-e166-4460-bbbb-3b8773824a5f
1  000bb53b-8f25-4d5c-9146-fbe84c5316ab  a112409a-cc77-4923-b6e2-dfef53449bde
2  000bb53b-8f25-4d5c-9146-fbe84c5316ab  a112409a-cc77-4923-b6e2-dfef53449bde
3  000bb53b-8f25-4d5c-9146-fbe84c5316ab  a112409a-cc77-4923-b6e2-dfef53449bde
4  0027b572-338f-443e-b281-a0a0a2bbcda1  fc4a8d34-fa79-45af-93fa-7e2b9c290181

                            specimen_id  specimen_identifier  \
0  2a50eb27-7106-4345-9d2d-d888af032317                  280
1  107c7268-28a4-47e7-8074-c890b5f3ab15                19390
2  cc018fb3-779f-4bb7-84ba-ef7ca4056666                19391
3  f08277bb-281d-4c8b-aa10-fbd873fc1ecd                19389
4  04c50e83-efaa-4df2-a38a-fc3e96ed022d                53499

  specimen_collection_site  specimen_collection_date
0                   sputum                         0
1                   sputum                        19
2                   sputum                        67
3                   sputum                         0
4          bronchialLavage                         0

In [66]:
print('REGIMENS 2022:\n')
print(regimens_2022.head())

REGIMENS 2022:

                             patient_id                          condition_id  \
0  00069df2-2406-43b6-8c58-5f5e164c7e35  5016ee38-e166-4460-bbbb-3b8773824a5f
1  000bb53b-8f25-4d5c-9146-fbe84c5316ab  a112409a-cc77-4923-b6e2-dfef53449bde
2  0036983b-7577-487f-83d1-00522ed03ed5  b0f555d7-8ae2-49ec-aa59-37875ee26a2e
3  0036983b-7577-487f-83d1-00522ed03ed5  b0f555d7-8ae2-49ec-aa59-37875ee26a2e
4  0046f70e-395f-40bb-b3a7-57b3fe3e97d1  ff562387-8969-4e27-bdd1-3146f45ea588

   period_start  period_end  period_span        outcome_cd  \
0          62.0       826.0        764.0           failure
1           0.0         NaN          NaN  stillOnTreatment
2           1.0       184.0        183.0             cured
3           1.0       184.0        183.0             cured
4        1052.0      1640.0        588.0         completed

   activities_period_start  activities_period_end activities_statusreason_cd  \
0                     62.0                  826.0                      ended
1                      0.0                    NaN                        NaN
2                      1.0                   63.0               continuation
3                     63.0                  184.0                      ended
4                   1052.0                 1076.0               continuation

                  regimen_drug  dose  collected  reinfusioned
0  {Amx/Clv,Cm,Cs,Mfx,Pas,Pto}   NaN        NaN           NaN
1            {Bdq,Cfz,Lzd,Mfx}   NaN        NaN           NaN
2                    {E,H,R,S}   NaN        NaN           NaN
3                        {H,R}   NaN        NaN           NaN
4       {Cfz,Cs,Lzd,Mfx,Pto,Z}   NaN        NaN           NaN

In [67]:
print('REGIMENS 2023:\n')
print(regimens_2023.head())

REGIMENS 2023:

                             patient_id                          condition_id  \
0  00069df2-2406-43b6-8c58-5f5e164c7e35  5016ee38-e166-4460-bbbb-3b8773824a5f
1  000bb53b-8f25-4d5c-9146-fbe84c5316ab  a112409a-cc77-4923-b6e2-dfef53449bde
2  0027b572-338f-443e-b281-a0a0a2bbcda1  fc4a8d34-fa79-45af-93fa-7e2b9c290181
3  0036983b-7577-487f-83d1-00522ed03ed5  b0f555d7-8ae2-49ec-aa59-37875ee26a2e
4  0036983b-7577-487f-83d1-00522ed03ed5  b0f555d7-8ae2-49ec-aa59-37875ee26a2e

   period_start  period_end  period_span        outcome_cd  \
0            62       826.0        764.0           failure
1             0         NaN          NaN  stillOnTreatment
2             3       186.0        183.0         completed
3             1       184.0        183.0             cured
4             1       184.0        183.0             cured

   activities_period_start  activities_period_end activities_statusreason_cd  \
0                       62                  826.0                      ended
1                        0                    NaN                        NaN
2                        3                  186.0                      ended
3                        1                   63.0               continuation
4                       63                  184.0                      ended

                  regimen_drug  dose  collected  reinfusioned
0  {Amx/Clv,Cm,Cs,Mfx,Pas,Pto}   NaN        NaN           NaN
1            {Bdq,Cfz,Lzd,Mfx}   NaN        NaN           NaN
2                    {E,H,R,Z}   NaN        NaN           NaN
3                    {E,H,R,S}   NaN        NaN           NaN
4                        {H,R}   NaN        NaN           NaN

In [68]:
print('PATIENTS 2022:\n')
print(patients_2022.head())

PATIENTS 2022:

                           condition_id                            patient_id  \
0  000e6c76-07b4-43cc-b668-048612911ce4  96f7d990-d005-4ecd-a22d-6d227d86a87d
1  001dc6ee-4925-4505-a4f6-e79d2e31d1cf  6affc79d-54c6-463f-b5af-f1f0e66776c6
2  002cea6e-758b-4e65-b4c4-ae0155a458d8  74aae92e-6a8e-437a-affc-a049f5322676
3  00376922-57ad-47be-9b42-9fa35cfbb1a8  6f8bb80f-1bc8-4e2e-bf6e-b4e3bebc662d
4  003e095a-db07-4abe-b07d-3050fc77f925  79bf51ab-76ea-4bab-a3ab-bef40f1b618e

   identifier  registration_date  age_of_onset  gender  country  \
0        6207               2020            23  Female  Georgia
1        9152               2019            48    Male  Moldova
2        8020               2019            24    Male  Moldova
3        7020               2019            37    Male  Ukraine
4        4195               2019            58    Male  Georgia

                              education  employment  number_of_children  ...  \
0                          Not Reported  Unemployed                 NaN  ...
1  Complete school (a-level, gymnasium)  Unemployed                 0.0  ...
2  Complete school (a-level, gymnasium)    Disabled                 0.0  ...
3                    College (bachelor)  Unemployed                 NaN  ...
4                          Not Reported  Unemployed                 NaN  ...

   qure_abnormal qure_consolidation qure_fibrosis  qure_opacity  \
0   Not Reported       Not Reported  Not Reported  Not Reported
1            Yes                 No            No           Yes
2            Yes                 No            No           Yes
3   Not Reported       Not Reported  Not Reported  Not Reported
4            Yes                 No           Yes           Yes

   qure_peffusion qure_tuberculosis   qure_nodule   qure_cavity  \
0    Not Reported      Not Reported  Not Reported  Not Reported
1              No                No            No            No
2              No               Yes            No            No
3    Not Reported      Not Reported  Not Reported  Not Reported
4              No               Yes            No            No

  qure_hilarlymphadenopathy qure_atelectasis
0              Not Reported     Not Reported
1                        No               No
2                        No               No
3              Not Reported     Not Reported
4                        No               No

[5 rows x 204 columns]

In [69]:
patients_2022_copy = patients_2022.copy()
patients_2023_copy = patients_2023.copy()

specimens_2022_copy = specimen_2022.copy()
specimens_2023_copy = specimen_2022.copy()

regimens_2022_copy = regimens_2022.copy()
regimens_2023_copy = regimens_2023.copy()

patients_nig_copy = patients_nig.copy()

In [70]:
patients_2022_copy.describe()

,identifier,registration_date,age_of_onset,number_of_children,number_of_daily_contacts,bmi,x_ray_count,period_start,period_end,period_span,regimen_count
count,6596.000000,6596.000000,6596.000000,3615.000000,4721.000000,5008.000000,6596.000000,6596.000000,5847.000000,5847.000000,6596.000000
mean,4823.122044,2017.569284,41.965130,0.699032,2.307774,20.729912,1.022438,14.994542,362.419531,357.932786,1.462098
std,3469.637311,2.697016,14.112115,1.110217,2.141489,3.802571,1.019051,253.122282,291.388671,301.474246,0.911682
min,1.000000,2008.000000,2.000000,0.000000,0.000000,10.400000,0.000000,-9137.000000,-3249.000000,-102.000000,1.000000
25%,1603.500000,2016.000000,31.000000,0.000000,1.000000,18.300000,1.000000,0.000000,183.000000,181.000000,1.000000
50%,4068.500000,2018.000000,41.000000,0.000000,2.000000,20.400000,1.000000,4.000000,277.000000,269.000000,1.000000
75%,7846.750000,2020.000000,51.000000,1.000000,3.000000,22.600000,1.000000,21.000000,590.000000,566.000000,2.000000
max,13233.000000,2021.000000,93.000000,9.000000,50.000000,83.900000,16.000000,4096.000000,3398.000000,10242.000000,12.000000

In [71]:
patients_2022_copy.info()
patients_column_list_2022 = patients_2022.columns.to_list()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6596 entries, 0 to 6595
Columns: 204 entries, condition_id to qure_atelectasis
dtypes: float64(6), int64(5), object(193)
memory usage: 10.3+ MB

In [72]:
patients_column_list_2022
patients_column_list_needed = ['patient_id',
 'identifier',
 'registration_date',
 'age_of_onset',
 'gender',
 'country',
 'education',
 'employment',
 'number_of_children',
 'number_of_daily_contacts',
 'case_definition',
 'diagnosis_code',
 'type_of_resistance',
 'bmi',
 'lung_localization',
 'x_ray_count',
 'status']

patients_2022_new = patients_2022_copy[patients_column_list_needed]

patients_2022_new

,patient_id,identifier,registration_date,age_of_onset,gender,country,education,employment,number_of_children,number_of_daily_contacts,case_definition,diagnosis_code,type_of_resistance,bmi,lung_localization,x_ray_count,status
0,96f7d990-d005-4ecd-a22d-6d227d86a87d,6207,2020,23,Female,Georgia,Not Reported,Unemployed,NaN,NaN,New,A15.0,Sensitive,NaN,Pulmonary,1,final
1,6affc79d-54c6-463f-b5af-f1f0e66776c6,9152,2019,48,Male,Moldova,"Complete school (a-level, gymnasium)",Unemployed,0.0,1.0,New,A15.1,Sensitive,18.6,Pulmonary,1,final
2,74aae92e-6a8e-437a-affc-a049f5322676,8020,2019,24,Male,Moldova,"Complete school (a-level, gymnasium)",Disabled,0.0,1.0,Failure,A15.0,MDR non XDR,24.5,Pulmonary,1,final
3,6f8bb80f-1bc8-4e2e-bf6e-b4e3bebc662d,7020,2019,37,Male,Ukraine,College (bachelor),Unemployed,NaN,1.0,Failure,A19.8,XDR,22.3,Pulmonary,1,final
4,79bf51ab-76ea-4bab-a3ab-bef40f1b618e,4195,2019,58,Male,Georgia,Not Reported,Unemployed,NaN,NaN,New,A15.0,Sensitive,NaN,Pulmonary,1,final
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6591,00ac6a80-f27f-41c2-8c03-7d86d53d50db,8872,2019,33,Male,Moldova,"Complete school (a-level, gymnasium)",Unemployed,2.0,3.0,New,A15.1,Poly DR,16.2,Pulmonary,1,final
6592,a32e3d5d-4e08-4461-8082-e850b1f7bdfe,9902,2021,17,Male,Ukraine,Basic school (incl. primary),Unemployed,NaN,NaN,New,A19.8,Sensitive,14.3,Pulmonary,1,final
6593,8fc2ff48-8480-4630-8552-cd34f5b55770,4433,2019,31,Male,Kazakhstan,"Complete school (a-level, gymnasium)",Employed,2.0,3.0,New,A16.0,Mono DR,21.1,Pulmonary,1,final
6594,5d381970-8df7-4fe9-b527-ce4a9d8c5c44,8908,2020,40,Male,Ukraine,"Complete school (a-level, gymnasium)",Unemployed,0.0,1.0,Other,A15.0,Sensitive,19.8,Pulmonary,1,final
6595,3efbbff9-f475-4d40-9dce-c92aac275f44,8904,2021,44,Male,Ukraine,"Complete school (a-level, gymnasium)",Unemployed,2.0,3.0,Chronic TB,A15.0,MDR non XDR,16.7,Pulmonary,1,final

In [73]:
patients_2022_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6596 entries, 0 to 6595
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   patient_id                6596 non-null   object
 1   identifier                6596 non-null   int64
 2   registration_date         6596 non-null   int64
 3   age_of_onset              6596 non-null   int64
 4   gender                    6596 non-null   object
 5   country                   6596 non-null   object
 6   education                 6596 non-null   object
 7   employment                6596 non-null   object
 8   number_of_children        3615 non-null   float64
 9   number_of_daily_contacts  4721 non-null   float64
 10  case_definition           6596 non-null   object
 11  diagnosis_code            6596 non-null   object
 12  type_of_resistance        6596 non-null   object
 13  bmi                       5008 non-null   float64
 14  lung_localization         6596 non-null   object
 15  x_ray_count               6596 non-null   int64
 16  status                    6596 non-null   object
dtypes: float64(3), int64(4), object(10)
memory usage: 876.2+ KB

In [74]:
patients_2022_new['number_of_children'] = patients_2022_new['number_of_children'].fillna(patients_2022_new['number_of_children'].sum()/len(patients_2022_new))
patients_2022_new['number_of_daily_contacts'] = patients_2022_new['number_of_daily_contacts'].fillna(patients_2022_new['number_of_daily_contacts'].sum()/len(patients_2022_new))
patients_2022_new['bmi'] = patients_2022_new['bmi'].fillna(patients_2022_new['bmi'].sum()/len(patients_2022_new))

patients_2022_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6596 entries, 0 to 6595
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   patient_id                6596 non-null   object
 1   identifier                6596 non-null   int64
 2   registration_date         6596 non-null   int64
 3   age_of_onset              6596 non-null   int64
 4   gender                    6596 non-null   object
 5   country                   6596 non-null   object
 6   education                 6596 non-null   object
 7   employment                6596 non-null   object
 8   number_of_children        6596 non-null   float64
 9   number_of_daily_contacts  6596 non-null   float64
 10  case_definition           6596 non-null   object
 11  diagnosis_code            6596 non-null   object
 12  type_of_resistance        6596 non-null   object
 13  bmi                       6596 non-null   float64
 14  lung_localization         6596 non-null   object
 15  x_ray_count               6596 non-null   int64
 16  status                    6596 non-null   object
dtypes: float64(3), int64(4), object(10)
memory usage: 876.2+ KB

C:\Users\oyeni\AppData\Local\Temp\ipykernel_21428\3297333353.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  patients_2022_new['number_of_children'] = patients_2022_new['number_of_children'].fillna(patients_2022_new['number_of_children'].sum()/len(patients_2022_new))
C:\Users\oyeni\AppData\Local\Temp\ipykernel_21428\3297333353.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  patients_2022_new['number_of_daily_contacts'] = patients_2022_new['number_of_daily_contacts'].fillna(patients_2022_new['number_of_daily_contacts'].sum()/len(patients_2022_new))
C:\Users\oyeni\AppData\Local\Temp\ipykernel_21428\3297333353.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  patients_2022_new['bmi'] = patients_2022_new['bmi'].fillna(patients_2022_new['bmi'].sum()/len(patients_2022_new))

In [75]:
patients_2023_new = patients_2023_copy[patients_column_list_needed]

patients_2023_new

,patient_id,identifier,registration_date,age_of_onset,gender,country,education,employment,number_of_children,number_of_daily_contacts,case_definition,diagnosis_code,type_of_resistance,bmi,lung_localization,x_ray_count,status
0,3676197e-6bd7-4c41-8bb0-de5889997b32,8277,2019,40,Male,Georgia,Not Reported,Unemployed,NaN,NaN,New,A15.0,Sensitive,NaN,Pulmonary,1,final
1,96f7d990-d005-4ecd-a22d-6d227d86a87d,6207,2020,23,Female,Georgia,Not Reported,Unemployed,NaN,NaN,New,A15.0,Sensitive,NaN,Pulmonary,1,final
2,6affc79d-54c6-463f-b5af-f1f0e66776c6,9152,2019,48,Male,Moldova,"Complete school (a-level, gymnasium)",Unemployed,0.0,1.0,New,A15.1,Sensitive,18.6,Pulmonary,1,final
3,74aae92e-6a8e-437a-affc-a049f5322676,8020,2019,24,Male,Moldova,"Complete school (a-level, gymnasium)",Disabled,0.0,1.0,Failure,A15.0,MDR non XDR,24.5,Pulmonary,1,final
4,6f8bb80f-1bc8-4e2e-bf6e-b4e3bebc662d,7020,2019,37,Male,Ukraine,College (bachelor),Unemployed,NaN,1.0,Failure,A19.8,XDR,22.3,Pulmonary,1,final
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8812,8fc2ff48-8480-4630-8552-cd34f5b55770,4433,2019,31,Male,Kazakhstan,"Complete school (a-level, gymnasium)",Employed,2.0,3.0,New,A16.0,Mono DR,21.1,Pulmonary,1,final
8813,5d381970-8df7-4fe9-b527-ce4a9d8c5c44,8908,2020,40,Male,Ukraine,"Complete school (a-level, gymnasium)",Unemployed,0.0,1.0,Other,A15.0,Sensitive,19.8,Pulmonary,1,final
8814,b03880ea-a373-4530-9959-657dff0be22d,9446,2021,37,Male,Ukraine,Not Reported,Unemployed,NaN,NaN,New,A15.0,MDR non XDR,23.8,Pulmonary,1,final
8815,3efbbff9-f475-4d40-9dce-c92aac275f44,8904,2021,44,Male,Ukraine,"Complete school (a-level, gymnasium)",Unemployed,2.0,3.0,Chronic TB,A15.0,MDR non XDR,16.7,Pulmonary,1,final
8816,836350ce-1b7a-4e69-9877-43c3ba1abbfb,8756,2016,65,Male,Ukraine,College (bachelor),Retired,NaN,1.0,Failure,A19.8,XDR,20.8,Pulmonary,1,final

In [76]:
patients_2023_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8817 entries, 0 to 8816
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   patient_id                8817 non-null   object
 1   identifier                8817 non-null   int64
 2   registration_date         8817 non-null   int64
 3   age_of_onset              8817 non-null   int64
 4   gender                    8817 non-null   object
 5   country                   8817 non-null   object
 6   education                 8817 non-null   object
 7   employment                8817 non-null   object
 8   number_of_children        4862 non-null   float64
 9   number_of_daily_contacts  6051 non-null   float64
 10  case_definition           8817 non-null   object
 11  diagnosis_code            8817 non-null   object
 12  type_of_resistance        8817 non-null   object
 13  bmi                       6633 non-null   float64
 14  lung_localization         8817 non-null   object
 15  x_ray_count               8817 non-null   int64
 16  status                    8817 non-null   object
dtypes: float64(3), int64(4), object(10)
memory usage: 1.1+ MB

In [77]:
patients_2023_new['number_of_children'] = patients_2023_new['number_of_children'].fillna(patients_2023_new['number_of_children'].sum()/len(patients_2023_new))
patients_2023_new['number_of_daily_contacts'] = patients_2023_new['number_of_daily_contacts'].fillna(patients_2023_new['number_of_daily_contacts'].sum()/len(patients_2023_new))
patients_2023_new['bmi'] = patients_2023_new['bmi'].fillna(patients_2023_new['bmi'].sum()/len(patients_2023_new))

patients_2023_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8817 entries, 0 to 8816
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   patient_id                8817 non-null   object
 1   identifier                8817 non-null   int64
 2   registration_date         8817 non-null   int64
 3   age_of_onset              8817 non-null   int64
 4   gender                    8817 non-null   object
 5   country                   8817 non-null   object
 6   education                 8817 non-null   object
 7   employment                8817 non-null   object
 8   number_of_children        8817 non-null   float64
 9   number_of_daily_contacts  8817 non-null   float64
 10  case_definition           8817 non-null   object
 11  diagnosis_code            8817 non-null   object
 12  type_of_resistance        8817 non-null   object
 13  bmi                       8817 non-null   float64
 14  lung_localization         8817 non-null   object
 15  x_ray_count               8817 non-null   int64
 16  status                    8817 non-null   object
dtypes: float64(3), int64(4), object(10)
memory usage: 1.1+ MB

C:\Users\oyeni\AppData\Local\Temp\ipykernel_21428\885934203.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  patients_2023_new['number_of_children'] = patients_2023_new['number_of_children'].fillna(patients_2023_new['number_of_children'].sum()/len(patients_2023_new))
C:\Users\oyeni\AppData\Local\Temp\ipykernel_21428\885934203.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  patients_2023_new['number_of_daily_contacts'] = patients_2023_new['number_of_daily_contacts'].fillna(patients_2023_new['number_of_daily_contacts'].sum()/len(patients_2023_new))
C:\Users\oyeni\AppData\Local\Temp\ipykernel_21428\885934203.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  patients_2023_new['bmi'] = patients_2023_new['bmi'].fillna(patients_2023_new['bmi'].sum()/len(patients_2023_new))

In [78]:
regimens_2022_copy.info()
regimens_column_list_2022 = regimens_2022.columns.to_list()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9644 entries, 0 to 9643
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   patient_id                  9644 non-null   object
 1   condition_id                9644 non-null   object
 2   period_start                9644 non-null   float64
 3   period_end                  8677 non-null   float64
 4   period_span                 8677 non-null   float64
 5   outcome_cd                  9643 non-null   object
 6   activities_period_start     9644 non-null   float64
 7   activities_period_end       8896 non-null   float64
 8   activities_statusreason_cd  7382 non-null   object
 9   regimen_drug                9644 non-null   object
 10  dose                        30 non-null     float64
 11  collected                   30 non-null     float64
 12  reinfusioned                30 non-null     float64
dtypes: float64(8), object(5)
memory usage: 979.6+ KB

In [79]:
regimens_column_list_2022
regimens_column_list_needed = ['patient_id',
 'condition_id',
 'period_span',
 'outcome_cd']

regimens_2022_new = regimens_2022_copy[regimens_column_list_needed]

regimens_2022_new

,patient_id,condition_id,period_span,outcome_cd
0,00069df2-2406-43b6-8c58-5f5e164c7e35,5016ee38-e166-4460-bbbb-3b8773824a5f,764.0,failure
1,000bb53b-8f25-4d5c-9146-fbe84c5316ab,a112409a-cc77-4923-b6e2-dfef53449bde,NaN,stillOnTreatment
2,0036983b-7577-487f-83d1-00522ed03ed5,b0f555d7-8ae2-49ec-aa59-37875ee26a2e,183.0,cured
3,0036983b-7577-487f-83d1-00522ed03ed5,b0f555d7-8ae2-49ec-aa59-37875ee26a2e,183.0,cured
4,0046f70e-395f-40bb-b3a7-57b3fe3e97d1,ff562387-8969-4e27-bdd1-3146f45ea588,588.0,completed
...,...,...,...,...
9639,ffcdbf6f-53a3-453a-9582-8725ed4234f3,239bdca1-a72e-4ecb-a9d9-97900dfd1759,609.0,completed
9640,ffd914a0-89dd-4a7e-a959-0342b3c43e20,38d66fbf-f2cf-49a8-9091-c76600af364b,188.0,failure
9641,ffdf3b67-bba2-4d0b-937d-fae6b75d4f63,a1aa80b9-bb80-40ef-9136-4fcc0580795f,278.0,completed
9642,fff9f70e-2738-43c9-b42d-0c2139da52b9,728694fa-f21a-4055-b1f1-1580b1a9cf8a,38.0,died
9643,ffffbdd3-0d0c-482f-af34-e2df5e38a7e9,4480aea9-3290-4307-ad50-39a5e2622ad8,552.0,failure

In [80]:
regimens_2022_new.fillna(0,inplace=True)

C:\Users\oyeni\AppData\Local\Temp\ipykernel_21428\3917202655.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  regimens_2022_new.fillna(0,inplace=True)

In [81]:
regimens_2022_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9644 entries, 0 to 9643
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   patient_id    9644 non-null   object
 1   condition_id  9644 non-null   object
 2   period_span   9644 non-null   float64
 3   outcome_cd    9644 non-null   object
dtypes: float64(1), object(3)
memory usage: 301.5+ KB

In [82]:
regimens_2023_new = regimens_2023_copy[regimens_column_list_needed]

regimens_2023_new

,patient_id,condition_id,period_span,outcome_cd
0,00069df2-2406-43b6-8c58-5f5e164c7e35,5016ee38-e166-4460-bbbb-3b8773824a5f,764.0,failure
1,000bb53b-8f25-4d5c-9146-fbe84c5316ab,a112409a-cc77-4923-b6e2-dfef53449bde,NaN,stillOnTreatment
2,0027b572-338f-443e-b281-a0a0a2bbcda1,fc4a8d34-fa79-45af-93fa-7e2b9c290181,183.0,completed
3,0036983b-7577-487f-83d1-00522ed03ed5,b0f555d7-8ae2-49ec-aa59-37875ee26a2e,183.0,cured
4,0036983b-7577-487f-83d1-00522ed03ed5,b0f555d7-8ae2-49ec-aa59-37875ee26a2e,183.0,cured
...,...,...,...,...
12780,fffe1c1a-2b9d-4fcd-83bf-9eb4a7ee81aa,3ff582c1-3548-466f-8a2d-cb6df7fe31ad,583.0,cured
12781,fffe1c1a-2b9d-4fcd-83bf-9eb4a7ee81aa,3ff582c1-3548-466f-8a2d-cb6df7fe31ad,583.0,cured
12782,fffe1c1a-2b9d-4fcd-83bf-9eb4a7ee81aa,3ff582c1-3548-466f-8a2d-cb6df7fe31ad,583.0,cured
12783,ffff7e78-14af-415a-8f2e-82ae35e9f499,d593d898-ba1e-4b8d-8f3c-95129253b01b,272.0,cured
12784,ffffbdd3-0d0c-482f-af34-e2df5e38a7e9,4480aea9-3290-4307-ad50-39a5e2622ad8,552.0,failure

In [83]:
regimens_2023_new.fillna(0,inplace=True)

C:\Users\oyeni\AppData\Local\Temp\ipykernel_21428\3115858346.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  regimens_2023_new.fillna(0,inplace=True)

In [84]:
regimens_2023_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12785 entries, 0 to 12784
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   patient_id    12785 non-null  object
 1   condition_id  12785 non-null  object
 2   period_span   12785 non-null  float64
 3   outcome_cd    12785 non-null  object
dtypes: float64(1), object(3)
memory usage: 399.7+ KB

In [85]:
patients_nig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   patient_id                253 non-null    int64
 1   registration_date         253 non-null    int64
 2   age_of_onset              253 non-null    object
 3   gender                    253 non-null    object
 4   country                   253 non-null    object
 5   employment                253 non-null    object
 6   number_of_daily_contacts  253 non-null    int64
 7   case_definition           253 non-null    object
 8   lung_localization         253 non-null    object
 9   regimen_count             253 non-null    int64
 10  outcome                   253 non-null    object
 11  treatment_status          246 non-null    object
 12  regimen_drug              253 non-null    object
 13  comorbidity               253 non-null    object
 14  specimen                  253 non-null    object
 15  ncbi_sourceorganism       253 non-null    object
 16  x_ray_exists              253 non-null    object
 17  diagnosis_code            253 non-null    object
 18  genexpert_test            253 non-null    object
 19  type_of_resistance        253 non-null    object
dtypes: int64(4), object(16)
memory usage: 39.7+ KB

In [91]:
patients_total = pd.merge(patients_2022, regimens_2022, on='patient_id')

In [97]:
patients_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10097 entries, 0 to 10096
Columns: 216 entries, condition_id_x to reinfusioned
dtypes: float64(14), int64(5), object(197)
memory usage: 16.7+ MB